.feat-img{
    background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(37, 51, 213, 0.2)),
    url('https://images.thedailystar.net/sites/default/files/styles/big_202/public/images/2022/09/15/huawei_ruet_ict_academy_mou_signing_13th_sep_2022.jpg');
    height: 350px;
    background-size: cover;
    color: white;
    padding: 20px;
}

.cat-link-home{
    text-decoration: none !important;
    color: #212529;
    font-weight: bold;
    list-style-type: none;
    transition: .1s;
}
.cat-link-home:hover{
    text-decoration: underline;
    color: aliceblue;
    background-color: #212529;
}

.cat-container{
    background-color: #f8f9fa;
}

.test{
    /* background-image: url('https://img.freepik.com/free-vector/dhaka-bangladesh-line-skyline-with-panorama-white-background-vector-illustration-business-travel-tourism-concept-with-modern-buildings-image-banner-website_596401-584.jpg?w=1380&t=st=1663764887~exp=1663765487~hmac=8865094c2d09cc3d7bbf8a5c3957ae83dd8b595eb4d07e0216912531a77f78bd');
    background-repeat: no-repeat; */
}