@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@400;700&family=Noto+Sans+Arabic:wght@300;400&family=Roboto+Mono:wght@200;300;400&family=Roboto:wght@300;400&display=swap");

.blog-card {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 20px;
}

.card-title {
  font-weight: 700;
}

.card-img {
  height: 600px;
}
.card-text {
}

.link{
  text-decoration: none;
  color: black;
  transition: .2s;
}
.link:hover{
  color:#01497c;
}
