@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@700&family=Noto+Sans+Arabic:wght@300;400&family=Roboto+Mono:wght@200;300;400&family=Roboto:wght@300;400&display=swap');

.navbar li.active {
    /* background-color: #555 !important; */
    text-decoration: underline !important;
  }
  .navbar-brand{
    font-family: 'Hind Siliguri', sans-serif;
    padding-right: 25px !important;
  }
  
  .navbar li:hover {
    /* background-color: #777 !important; */
    text-decoration: underline !important;
  }